*{
    box-sizing: border-box;
}
body{
     background-image: url("https://www.newtonvirtual.com/aula/pluginfile.php/1168/course/overviewfiles/dise%C3%B1o-del-garabato-de-las-diversas-operaciones-de-la-matem%C3%A1ticas-47304621.png");
     background-repeat: no-repeat;
     background-size: cover;
}
h1{
    color: blue;
    text-align: center;

}
.container{
    position: absolute;
    top: 20;
    background-color: rgba(95, 203, 222,0.5);
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#borrar, #calcular{
        background-color: #9958da; 
        border: none; 
        color: white; 
        padding: 15px 32px; 
        text-align: center; 
        text-decoration: none;
        display: inline-block; 
        font-size: 16px; 
        margin: 4px 2px; 
        cursor: pointer; 
        border-radius: 8px; 
      }
      
      #borrar{
        background-color: #dc2556; 
      }

    


      
